@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/swiped-events.min.js"></script>
<script src="~/js/drivers/dash-gchart-etoday-driver.js"></script>

<script src="~/js/inverter/inverter-latest-data.js"></script>

<span id="swipe-left" style="cursor:pointer;">◀&nbsp;</span>  <span id="last-known-time"></span> <span id="swipe-right" style="cursor:pointer;">&nbsp;▶</span>
<style>
    html {
        background-color: #242f3a;
    }

    body {
        background-color: #242f3a;
    }
</style>

<div class="row">

    <div class="col-sm-4" style="text-align:center; font-family: LatoLight; ">
        <div style="font-size: 1.8em;">
            E Today
        </div>

        <div id="donutchart-etoday"></div>

        <div style="position:relative; top: -47%;">

            <div style="font-size: 3.8em">
                <span id="etoday"></span>
            </div>
            <div style="font-size: 1.4em">
                kWh
            </div>

        </div>
    </div>


    <div class="col-sm-4" style="text-align:center;  font-family: LatoLight; ">
        <div style="font-size: 1.8em">
            Solar
        </div>

        <div id="donutchart-pvnow"></div>

        <div style="position:relative; top: -47%;">

            <div>
                <span style="font-size: 3.8em" id="pvnow"></span> @*<span style="font-size: 1.4em">kW</span>*@
            </div>
            <div style="font-size: 1.4em">
                W
            </div>

        </div>
    </div>

    <div class="col-sm-4" style="text-align:center;  font-family: LatoLight;">
        <div style="font-size: 1.8em">
            Grid
        </div>

        <div id="donutchart-gridnow"></div>

        <div style="position:relative; top: -47%; ">

            <div>
                <span style="font-size: 3.8em" id="gridnow"></span> @*<span style="font-size: 1.4em">kW</span>*@
            </div>
            <div style="font-size: 1.4em">
                W
            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <div id="columnchart-pvtoday"></div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#swipe-left').on('click', function () { moveDayBack(); });
        $('#swipe-right').on('click', function () { moveDayForward(); });

        document.addEventListener('swiped-left', function (e) { moveDayBack(); });
        document.addEventListener('swiped-right', function (e) { moveDayForward(); });
    });


    function moveDayBack() {
        dayOffset--;
        getHourly();
    }
    function moveDayForward() {
        if (dayOffset < 0)
            dayOffset++;

        getHourly();
    }

</script>
