@{
    ViewBag.Title = "Index";
}

<script src="~/js/inverter/dygraph-combined.js"></script>
<script src="~/js/inverter/inverter-dy-graph.js"></script>
<script src="~/js/inverter/inverter-latest-data.js"></script>

<a href="~/">📈</a>

<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <p id="liveDataTime"></p>
        <p id="liveData"></p>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <select id="historyHours">
            <option value="-24">Last 24 Hours</option>
            <option value="-48">Last 48 Hours</option>
            <option value="-168">Last week</option>
            <option value="-672">Last month</option>
            <option value="0">All (may be slow to laod)</option>
        </select>
        <div id="graph" style="width:100%; height: 700px;">Loading graph ...</div>
    </div>
</div>





<script>

    $(document).on("onGetLatest", function (event, data) {

        //debugger;
        var textDataTime = new Date(parseInt(data.recordedDateTime.substr(6))).toString();
        var textData = `PV: ${data.pvPower}KW Battery: ${data.bat1Charge}% ${data.bat1Power}W Grid: ${data.gridPower}W Load: ${data.loadPower}W EToday: ${data.eToday}KWh`;
        $('#liveDataTime').text(textDataTime);
        $('#liveData').text(textData);

    });
</script>
