@{
    ViewBag.Title = "Index";
}

<script src="~/js/inverter/inverter-latest-data.js"></script>
<script src="~/js/gauge.min.js"></script>


<a href="~/home/graph">📈</a><a href="~/home/dash">📈</a>

<div class="row">
    <div class="col-sm-4">
        <canvas id="gauge-power-pv"></canvas>
        <div style="text-align: center;">
            E-Today <span style="color:white;" id="e-today"></span> kW
        </div>
        <div style="text-align: center;">
            <span style="color:white;" id="pv1-volt"></span>V / <span style="color:white;" id="pv2-volt"></span>V
        </div>
        <div style="text-align: center;">
            <span style="color:white;" id="tempCelcius"></span> &#176;C
        </div>
    </div>
    <div class="col-sm-4">
        <canvas id="gauge-power-load"></canvas>
    </div>
    <div class="col-sm-4">
        <canvas id="gauge-power-grid"></canvas>
        @*<canvas id="gauge-e-today">
                        pV1Volt: 151
            pV2Volt: 148
                        </canvas>*@
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <canvas id="gauge-battery-power"></canvas>

        <div style="text-align: center;">
            Array Voltage <span style="color:white;" id="bat1-voltage"></span> V
        </div>
        <div style="text-align: center;">
            Cell Voltage <span style="color:white;" id="bat1-cell-voltage"></span> V
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>





@*DB: @ViewBag.DBPath*@

@*PV: ' + data.PVPower + 'kW
     Bat1: ' + data.Bat1Charge + '%
     ' + data.Bat1Power + 'W
    Grid: ' + data.GridPower + 'W
     Load: ' + data.LoadPower + 'W
     EToday: ' + data.EToday;*@



<script>

    var gauge_colour_dark = '#212121';
    var gauge_colour_mid = '#99a4af';
    var gauge_colour_light = '#f8f9fa';
    var gauge_colour_white = '#fff';


    $(document).on("onGetLatest", function (event, data) {
        gauge_power_pv.value = data.pvPower;
        gauge_power_pv.options.valueText = data.pvPower.toString();
        $('#e-today').text(data.eToday);
        $('#pv1-volt').text(data.pV1Volt);
        $('#pv2-volt').text(data.pV2Volt);
        $('#tempCelcius').text(data.tempCelcius);

        gauge_power_load.value = data.loadPower;
        gauge_power_load.options.valueText = data.loadPower.toString();

        //gauge_e_today.value = data.eToday;

        gauge_battery_power.value = data.bat1Charge;
        gauge_battery_power.options.valueText = data.bat1Charge.toString();
        $("#bat1-voltage").text(data.bat1Voltage);
        $("#bat1-cell-voltage").text(data.bat1Voltage / 4);

        gauge_power_grid.value = data.gridPower;
        gauge_power_grid.options.valueText = data.gridPower.toString();

    });


    var gauge_power_pv = new RadialGauge({
        title: 'PV Power',
        renderTo: 'gauge-power-pv',
        height: 400,
        units: 'W',
        valueText: '',
        valueBoxWidth: 35,
        value: 0,
        minValue: 200,
        maxValue: 3000,
        exactTicks: true,
        majorTicks: [200, 1000, 2000, 3000],
        minorTicks: 0,
        valueBox: true,
        highlights: [
            { from: 200, to: 1000, color: 'rgba(40, 167,  69, 0.2)' },
            { from: 1001, to: 2000, color: 'rgba(40, 167,  69, 0.4)' },
            { from: 2001, to: 3000, color: 'rgba(40, 167,  69, 0.6)' },
        ],
        animatedValue: true,
        borders: false,
        colorPlate: gauge_colour_dark,
        colorMajorTicks: gauge_colour_mid,
        colorTitle: gauge_colour_light,
        colorUnits: gauge_colour_mid,
        colorNumbers: gauge_colour_mid,
        valueBoxStroke: 0,
        colorValueTextShadow: false
        //colorValueText: gauge_colour_light,

    }).draw();

    var gauge_power_load = new RadialGauge({
        title: 'Load',
        renderTo: 'gauge-power-load',
        height: 400,
        units: 'W',
        valueText: '',
        valueBoxWidth: 35,
        value: 0,
        minValue: 0,
        maxValue: 1500,
        exactTicks: true,
        majorTicks: [0, 300, 700, 1000, 1500],
        minorTicks: 0,
        valueBox: true,
        highlights: [
            { from: 0, to: 300, color: 'rgba(40, 167,  69, 0.25)' },
            { from: 700, to: 1000, color: 'rgba(255, 193,  7, 0.25)' },
            { from: 1001, to: 1500, color: 'rgba(220,  53, 69, 0.25)' }
        ],
        animatedValue: true,
        borders: false,
        colorPlate: gauge_colour_dark,
        colorMajorTicks: gauge_colour_mid,
        colorTitle: gauge_colour_light,
        colorUnits: gauge_colour_mid,
        colorNumbers: gauge_colour_mid,
        valueBoxStroke: 0,
        colorValueTextShadow: false
    }).draw();

    //var gauge_e_today = new RadialGauge({
    //    title: 'E Today',
    //    renderTo: 'gauge-e-today',
    //    height: 400,
    //    units: 'kW',
    //    value: 0,
    //    minValue: 0,
    //    maxValue: 14,
    //    exactTicks: true,
    //    majorTicks: [0, 3, 7, 12, 14],
    //    minorTicks: 0,
    //    valueBox: true,
    //    highlights: [
    //        { from: 0, to: 3, color: 'rgba(220,  53, 69, 0.25)' },
    //        { from: 3, to: 12, color: 'rgba(40, 167,  69, 0.25)' },
    //        { from: 12, to: 14, color: 'rgba(40, 167,  69, 0.5)' }

    //    ],
    //    animatedValue: true,
    //    borders: false,
    //    colorPlate: gauge_colour_dark,
    //    colorMajorTicks: gauge_colour_mid,
    //    colorTitle: gauge_colour_light,
    //    colorUnits: gauge_colour_mid,
    //    colorNumbers: gauge_colour_mid,
    //    valueBoxStroke: 0,
    //    colorValueTextShadow: false
    //}).draw();


    var gauge_battery_power = new RadialGauge({
        title: 'Battery',
        renderTo: 'gauge-battery-power',
        height: 300,
        units: '%',
        valueText: '',
        valueBoxWidth: 35,
        value: 0,
        minValue: 0,
        maxValue: 100,
        exactTicks: true,
        majorTicks: [0, 20, 50, 80, 100],
        minorTicks: 0,
        valueBox: true,
        highlights: [
            { from: 0, to: 20, color: 'rgba(220,  53, 69, 0.25)' }
        ],
        animatedValue: true,
        borders: false,
        colorPlate: gauge_colour_dark,
        colorMajorTicks: gauge_colour_mid,
        colorTitle: gauge_colour_light,
        colorUnits: gauge_colour_mid,
        colorNumbers: gauge_colour_mid,
        valueBoxStroke: 0,
        colorValueTextShadow: false
        //colorValueText: gauge_colour_light,

    }).draw();

    var gauge_power_grid = new RadialGauge({
        title: 'Grid',
        renderTo: 'gauge-power-grid',
        height: 400,
        units: 'W',
        valueText: '',
        valueBoxWidth: 35,
        value: 0,
        minValue: -1500,
        maxValue: 1500,
        exactTicks: true,
        majorTicks: [-1500, 0, 1500],
        minorTicks: 0,
        valueBox: true,
        highlights: [
            { from: 0, to: 20, color: 'rgba(220,  53, 69, 0.25)' }
        ],
        animatedValue: true,
        borders: false,
        colorPlate: gauge_colour_dark,
        colorMajorTicks: gauge_colour_mid,
        colorTitle: gauge_colour_light,
        colorUnits: gauge_colour_mid,
        colorNumbers: gauge_colour_mid,
        valueBoxStroke: 0,
        colorValueTextShadow: false,
        //colorValueText: gauge_colour_white,

    }).draw();


    //$(document).ready(function () {
    //    var ctx = document.getElementById("myChart").getContext('2d');

    //    window.myBar = new Chart(ctx, {
    //        type: 'bar',
    //        data: barChartData,
    //        options: {
    //            title: {
    //                display: true,
    //                text: 'Chart.js Bar Chart - Stacked'
    //            },
    //            tooltips: {
    //                mode: 'index',
    //                intersect: false
    //            },
    //            responsive: true,
    //            scales: {
    //                xAxes: [{
    //                    stacked: true,
    //                }],
    //                yAxes: [{
    //                    stacked: true
    //                }]
    //            }
    //        }
    //    });

    //});

    var barChartData = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'Dataset 1',
            backgroundColor: '#78ff99',
            data: [
                10, 20, 30
            ]

        }, {
            label: 'Dataset 2',
            backgroundColor: '#54aa43',
            data: [
                40, 60, 80
            ]
            //}, {
            //    label: 'Dataset 3',
            //    backgroundColor: window.chartColors.green,
            //    data: [
            //        randomScalingFactor(),
            //        randomScalingFactor(),
            //        randomScalingFactor(),
            //        randomScalingFactor(),
            //        randomScalingFactor(),
            //        randomScalingFactor(),
            //        randomScalingFactor()
            //    ]
        }]

    };


</script>
