@page "/"

<style>
    html {
        background-color: #242f3a;
    }

    body {
        background-color: #242f3a;
    }
</style>

<div class="row">

    <div class="col-sm-4" style="text-align:center; font-family: LatoLight; ">
        <div style="font-size: 1.8em;">
            E Today
        </div>

        <div id="donutchart-etoday"></div>

        <div style="position:relative; top: -47%;">

            <div style="font-size: 3.8em">
                <span id="etoday"></span>
            </div>
            <div style="font-size: 1.4em">
                kWh
            </div>

        </div>
    </div>


    <div class="col-sm-4" style="text-align:center;  font-family: LatoLight; ">
        <div style="font-size: 1.8em">
            Solar
        </div>

        <div id="donutchart-pvnow"></div>

        <div style="position:relative; top: -47%;">

            <div>
                <span style="font-size: 3.8em" id="pvnow"></span> @*<span style="font-size: 1.4em">kW</span>*@
            </div>
            <div style="font-size: 1.4em">
                kW
            </div>

        </div>
    </div>

    <div class="col-sm-4" style="text-align:center;  font-family: LatoLight;">
        <div style="font-size: 1.8em">
            Grid
        </div>

        <div id="donutchart-gridnow"></div>

        <div style="position:relative; top: -47%; ">

            <div>
                <span style="font-size: 3.8em" id="gridnow"></span> @*<span style="font-size: 1.4em">kW</span>*@
            </div>
            <div style="font-size: 1.4em">
               @model.GridPower
            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <div id="columnchart-pvtoday"></div>
    </div>
</div>


@*//background #242f3a
    //dial light #43576b

*@

@code{
    InverterDataGranular model = new InverterDataGranular() { GridPower = 100 } ;// await dbService.Get(start, end);

}


